
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font: 13px Helvetica, Arial, sans-serif;
}

html {
    background-color: #3a5998;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3a5998), to(#3a5998));
    background-image : -moz-linear-gradient(19% 75% 90deg,#3a5998, #3a5998);
    width : 100%;
    height : 100%;
}

div#header {
    color: #383838;
    text-shadow: rgba(0,0,0,0.59) 0 0 1px;
    font: bold 10px/15px "Lucida Grande", Lucida, Verdana, sans-serif;
    width: 99%;
    margin: 0;
    display: block;
    position: fixed;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: right;
    height: 15px;
    z-index: 1;
}

div#header span#header-content {
    -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.496094)));
}

div#header a#twitter{color: #40acDd;}

div#signets {
    //background: -webkit-gradient(linear, 0% 80%, 0% 99%, from(rgba(39,40,44,0)), to(rgba(39,40,44,1)));
    display: block;
    position: relative;
    width: 178px;
    z-index: 16;
    font-size: 12px;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 7px;
    left: -7px;
    text-shadow : #feffff 0 0 3px;
    }
div#toggle {
    color: black;
    position: absolute;
    float: left;
    padding: 3px;
    margin: 4px 4px 4px 5px;
    z-index: 10;
    font-size: 11px;
    cursor : pointer;
    display: none;
}
#signets * {
    cursor : pointer;
    
}
#signets ul {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0;
    list-style-type: disc;
    margin: 4px 0 0 -10px;
    font-size: 10px;
}
#signets h5 {
    color: black;
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.296094)));
}
#signets h7 h6 {
    color: black;
    font-size: 11px;
    z-index: 5;
    -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.45)));
    display: inline;
}
#signets h7 {
    margin-bottom: -1px;
    margin-left: -8px;
    margin-top: -4px;
    display: inline-block;
    z-index: -6;
}
span.openLinks {
    display: inline;
    opacity : inherit;
    margin-left: 8px;
    font-size: 90%;
}
#signets div.sub {
    padding-left: 10px;
    margin-top: 17px;
}
#signets ul {
    margin: 0;
    padding: 7px 0 0;
}
#signets ul li, #signets ul li a {
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 0;
    line-height: 16px;}
#signets ul li {
    list-style-type: none;
    list-style-position: inside;
    display: list-item;
    
}
#signets ul li a:hover {
    text-decoration : none;
}


#container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 350px;
    margin: -70px 0 0 -250px;
}


/*  ENGINE INDEX
    ----------------------------------------------------- */
    
#engines {
    width: 700px;
    height: 80px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    margin: 0 0 110px -350px;
}

#engines a {
    display: block;
    width: 225px;
    height: 80px;
    cursor: pointer;
    opacity: 0.0;
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#engines a img {
    display: block;
    height: 100%;
    width: 100%;
}



/*  SEARCH BOX
    ----------------------------------------------------- */

#box {
    background-image : -webkit-gradient(linear, 0% 100%, 0% 0%, from(#294280), to(#294280));
    background-image : -moz-linear-gradient(19% 75% 90deg,#294280, #294280);
    -webkit-border-radius : 4px;
    border-radius : 4px;
    -webkit-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    -moz-border-radius : 4px;
    -moz-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    padding: 30px 40px;
    position: relative;
}

#input {
    background-image : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));
    background-image : 
-moz-linear-gradient(100% 75% 90deg,#ffffff, #ffffff);
    -webkit-border-radius : 8px;
    border-radius : 8px;
    -moz-border-radius : 8px;
    width : 418px;
}

#input input {
    outline: 0;
    border: 1px solid #000000;
    -webkit-border-radius : 8px;
    border-radius : 8px;
    background: transparent url(glass.png) no-repeat 8px center;
    -moz-border-radius : 8px;
    -webkit-appearance: textfield;
    
    font: 19px 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300;
    color: #3d3d3d;
    width: 418px;
    padding: 6px 38px 6px 35px;
}

#input input:focus {
    border-color: #cdd6de;
    -webkit-box-shadow: 0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
}

#lang {
    position: absolute;
    right: 49px;
    top: 39px;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #C4C4C4;
    cursor: pointer;
}

#lang:hover {
    background: #C4C4C4;
    color: white;
}

#lang:active {
    background: #9D9D9D;
}

#method {
    text-align: center;
    margin-top: 30px;
}

#method a {
    padding: 3px 6px;
    margin: 0 2px;
    cursor: pointer;
    color: #d9d9d9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-shadow: #000000 0 0 3px;
    -webkit-transition: -webkit-box-shadow, background-color 0.2s linear;
}

#method a.active,
#method a:hover {
    background-color: #294280;
    color: white;
    text-shadow: none;
    border-radius : 4px;
    -webkit-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    -moz-border-radius : 4px;
    -moz-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
  -webkit-transition: -webkit-box-shadow, background-color 0.2s linear;
    }

#method a:active {
    background: #000000;
}



/*  INFO BOX
    ----------------------------------------------------- */

#info {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#toggleInfo {
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(info.png);
    width: 16px;
    height: 16px;
    color: rgba(0,0,0,0);
    opacity: 0.2;
    cursor: pointer;
}

#toggleInfo:hover {
    opacity: 0.5;
}

#toggleInfo:active {
    opacity: 0.7;
}

#infoBox {
    display: none;
    position: absolute;
    right: 17px;
    bottom: 17px;
        background-image : -webkit-gradient(linear, 0% 100%, 0% 0%, from(#F0F0F0), to(#FEFEFE));
    background-image : -moz-linear-gradient(19% 75% 90deg,#F0F0F0, #FEFEFE);
    -webkit-border-radius : 4px;
    border-radius : 6px;
    -webkit-box-shadow : 0px 1px 6px rgba(0,0,0,0.35);
    -moz-border-radius : 6px;
    -moz-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    padding: 10px 20px;
    width: 300px;
    font-size: 11px;
    line-height: 16px;
    color: #363d42;
}

#infoBox h2 {
    font: 19px 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: 300;
    margin: 3px 0 10px 0;
    color: #9D9D9D;
}

#infoBox strong {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica";
}

#infoBox p {
    margin: 5px 0;
}

#infoBox .source {
    color: #9D9D9D;
}

#infoBox .source a {
    color: #838383;
    border-bottom: 1px solid #ddd;
}

#infoBox .source a:hover {
    color: #393939;
    border-bottom: 1px solid #9c9c9c;
}

#infoBox hr {
    margin: 10px -20px;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid white;
}

#infoBox #corner {
    position: absolute;
    
    height: 24px;
    width: 24px;
    right: -13px;
    bottom: -13px;
}



/*  SEARCH SUGGESTIONS
    ----------------------------------------------------- */
 
#sugs {
    display: block;
    position: absolute;
    left: 41px;
    top: 68px;
    right: 41px;
    list-style: none;
    font-size: 11px;
    background-image : -webkit-gradient(linear, 0% 100%, 0% 0%, from(#F0F0F0), to(#FEFEFE));
    -webkit-border-radius : 4px;
    border-radius : 4px;
    -webkit-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    -moz-border-radius : 4px;
    -moz-box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    box-shadow : 0px 1px 3px rgba(0,0,0,0.35);
    padding-left: 0;
    padding-right: 0;
    padding: 5px;
    margin-top: 52px;
}
 
 
#sugs li a {
    display: block;
    padding: 4px 8px;
    color: #686868;
}
 
 
#sugs li.active a {
-webkit-border-radius: 3px;
border-radius: 3px;
    -moz-border-radius: 5px;
    color: white;
    background-color: #8d8d8d;
}
 
#sugs li a:active {
    background-color: #8d8d8d;
}




/* Animation */
    #canvas {
       margin-top : 0px;
    margin-left : -200px;
       width: 400px;
       -webkit-perspective: 1000;
    position : absolute;
    top: 50%;
    left : 50%;
    opacity: 0.2;
    height: 0px;
}

    
     .ring {
       margin: 0 auto;
       height: 0px;
       width: 400px;
       -webkit-transform-style: preserve-3d;
       -webkit-animation-iteration-count: infinite;
       -webkit-animation-timing-function: linear;
     }
     .code {
        position: absolute;
        color: black;
     }           
     .code > p {
        text-shadow: black 0px 0px 5px;
    font: 500 24px "Helvetica Neue","Helvetica",sans-serif;
}
 
     #ring-1 {
       -webkit-animation-name: y-spin;
       -webkit-animation-duration: 32s;
       -webkit-transform: rotateY(30deg);
     }
 
     #ring-2 {
        position: relative;
        left: -60px;
        top: -300px;
       -webkit-animation-name: back-y-spin;
       -webkit-animation-duration: 34s;
       -webkit-transform: rotateX(20deg);
     }
 
     #ring-3 {
       -webkit-animation-name: x-spin;
       -webkit-animation-duration: 30s;
        position: relative;
        left: 0px;
        top: -240px;
     }
 
     @-webkit-keyframes x-spin {
       0%    { -webkit-transform: rotateX(0deg); }
       50%   { -webkit-transform: rotateX(180deg); }
       100%  { -webkit-transform: rotateX(360deg); }
     }
 
     @-webkit-keyframes y-spin {
       0%    { -webkit-transform: rotateY(0deg); }
       50%   { -webkit-transform: rotateY(180deg); }
       100%  { -webkit-transform: rotateY(360deg); }
     }
 
     @-webkit-keyframes back-y-spin {
       0%    { -webkit-transform: rotateY(360deg); }
       50%   { -webkit-transform: rotateY(180deg); }
       100%  { -webkit-transform: rotateY(0deg); }

     }

    /*  INFO BOX
        ----------------------------------------------------- */

    #info {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    #toggleInfo {
        position: absolute;
        right: 0;
        bottom: 0;
        background: url(info.png);
        width: 16px;
        height: 16px;
        color: rgba(0,0,0,0);
        opacity: 0.2;
        cursor: pointer;
    }

    #toggleInfo:hover {
        opacity: 0.5;
    }

    #toggleInfo:active {
        opacity: 0.7;
    }

div#ryuk {
    width: 362px;
    height: 758px;
    display: block;
    position: absolute;
    background: url(konami.png) no-repeat 0 -55px;
    top: 0;
    left: 0;
    z-index: -99999;
}